### Kaggle survey dataset year 2020

* Removing of columns
* Correction of header
* Splitting columns that contain multiple tools or their versions

In [1]:
import pandas as pd

df20 = pd.read_csv("kaggle_survey_2020_responses.csv", low_memory=False)

df20

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20032,126,18-21,Man,Turkey,Some college/university study without earning ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20033,566,55-59,Woman,United Kingdom of Great Britain and Northern I...,Master’s degree,Currently not employed,20+ years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20034,238,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20035,625,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,Python,NaN,SQL,...,Weights & Biases,NaN,NaN,TensorBoard,NaN,NaN,Trains,NaN,NaN,NaN
20036,1031,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,...,Weights & Biases,NaN,NaN,NaN,NaN,NaN,Trains,NaN,NaN,NaN

In [2]:
#list of columns
df20.columns 

#columns names in cycle
# for col in df20.columns: 
#      print(col)

# df shape number of rows and columns
df20.shape

(20037, 355)

### Removing of columns from DataFrame

In [3]:
# list of prefixes for removing
prefix = ['Time from Start to Finish (seconds)', 'Q8','Q11', 'Q12_', 'Q13',
          'Q17_','Q18_', 'Q19_','Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26_',
          'Q27_', 'Q28_','Q29_', 'Q30', 'Q30_', 'Q31', 'Q31_', 'Q32', 'Q32_',
          'Q33_', 'Q33_B','Q34_', 'Q35_', 'Q36_', 'Q39_']

# find columns with prefix
columns_to_drop = [
     col for col in df20.columns if any(col.startswith(p) for p in prefix)
     ]

# print(columns_to_drop)

# remove columns from dataframe
df20 = df20.drop(columns=columns_to_drop)

# new dataframe
# df20.shape

for col in df20.columns: #columns in new dataframe as list
     print(col)

Q1
Q2
Q3
Q4
Q5
Q6
Q7_Part_1
Q7_Part_2
Q7_Part_3
Q7_Part_4
Q7_Part_5
Q7_Part_6
Q7_Part_7
Q7_Part_8
Q7_Part_9
Q7_Part_10
Q7_Part_11
Q7_Part_12
Q7_OTHER
Q9_Part_1
Q9_Part_2
Q9_Part_3
Q9_Part_4
Q9_Part_5
Q9_Part_6
Q9_Part_7
Q9_Part_8
Q9_Part_9
Q9_Part_10
Q9_Part_11
Q9_OTHER
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_OTHER
Q14_Part_1
Q14_Part_2
Q14_Part_3
Q14_Part_4
Q14_Part_5
Q14_Part_6
Q14_Part_7
Q14_Part_8
Q14_Part_9
Q14_Part_10
Q14_Part_11
Q14_OTHER
Q15
Q16_Part_1
Q16_Part_2
Q16_Part_3
Q16_Part_4
Q16_Part_5
Q16_Part_6
Q16_Part_7
Q16_Part_8
Q16_Part_9
Q16_Part_10
Q16_Part_11
Q16_Part_12
Q16_Part_13
Q16_Part_14
Q16_Part_15
Q16_OTHER
Q24
Q37_Part_1
Q37_Part_2
Q37_Part_3
Q37_Part_4
Q37_Part_5
Q37_Part_6
Q37_Part_7
Q37_Part_8
Q37_Part_9
Q37_Part_10
Q37_Part_11
Q37_OTHER
Q38

### Correction of headers

Combination of two rows for preparation of main header

In [4]:
#original header
original_cols = df20.columns.tolist()
line_0 = df20.iloc[0].tolist()

# new header combination with first one
new_header = [f"{col}_{val}" for col, val in zip(original_cols, line_0)]

# setting new header and remove first row
df20.columns = new_header
df20 = df20.iloc[1:].reset_index(drop=True)
df20

,Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q6_For how many years have you been writing code and/or programming?,Q7_Part_1_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python,Q7_Part_2_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R,Q7_Part_3_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL,Q7_Part_4_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C,...,Q37_Part_4_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,Q37_Part_5_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai,Q37_Part_6_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity,Q37_Part_7_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udemy,Q37_Part_8_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - LinkedIn Learning,"Q37_Part_9_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Cloud-certification programs (direct from AWS, Azure, GCP, or similar)",Q37_Part_10_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - University Courses (resulting in a university degree),Q37_Part_11_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - None,Q37_OTHER_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Other,Q38_What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice
0,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
1,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,NaN,...,DataCamp,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,"Business intelligence software (Salesforce, Ta..."
2,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,NaN,...,NaN,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
3,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,NaN,...,DataCamp,NaN,NaN,NaN,LinkedIn Learning,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
4,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,18-21,Man,Turkey,Some college/university study without earning ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20032,55-59,Woman,United Kingdom of Great Britain and Northern I...,Master’s degree,Currently not employed,20+ years,Python,NaN,NaN,NaN,...,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20033,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20034,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,Python,NaN,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20035,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,NaN,...,NaN,Fast.ai,Udacity,Udemy,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."

Renaming columns in the DataFrame based on a list of new names (stored in the variable text), and then saving the DataFrame to a CSV file, for check

In [5]:
text = """
Age
Gender
Country
Education
Current_Role
Time_Writing_Code
Programming_Languages_Python
Programming_Languages_R
Programming_Languages_SQL
Programming_Languages_C
Programming_Languages_C++
Programming_Languages_Java
Programming_Languages_Javascript
Programming_Languages_Julia
Programming_Languages_Swift
Programming_Languages_Bash
Programming_Languages_Matlab
Programming_Languages_None
Programming_Languages_Other
Ide's_Jupyter
Ide's_RStudio
Ide's_Visual_Studio
Ide's_Visual_Studio_Code
Ide's_Pycharm
Ide's_Spyder
Ide's_Notepad++
Ide's_Sublime_Text
Ide's_Vim/Emacs
Ide's_Matlab
Ide's_None
Ide's_Other
Notebook_Products_Kaggle_Notebooks
Notebook_Products_Colab_Notebooks
Notebook_Products_Azure_Notebooks
Notebook_Products_Paperspace/Gradient
Notebook_Products_Binder/Jupyterhub
Notebook_Products_Code_Ocean
Notebook_Products_Ibm_Watson_Studio
Notebook_Products_Amazon_Sagemaker_Studio
Notebook_Products_Amazon_Emr_Notebooks
Notebook_Products_Google_Cloud_Ai_Platform_Notebooks
Notebook_Products_Google_Cloud_Datalab_Notebooks
Notebook_Products_Databricks_Collaborative_Notebooks
Notebook_Products_None
Notebook_Products_Other
Data_Visualization_Libraries_Matplotlib
Data_Visualization_Libraries_Seaborn
Data_Visualization_Libraries_Plotly/Plotly_Express
Data_Visualization_Libraries_Ggplot/Ggplot2
Data_Visualization_Libraries_Shiny
Data_Visualization_Libraries_D3_Js
Data_Visualization_Libraries_Altair
Data_Visualization_Libraries_Bokeh
Data_Visualization_Libraries_Geoplotlib
Data_Visualization_Libraries_Leaflet/Folium
Data_Visualization_Libraries_None
Data_Visualization_Libraries_Other
Time_Using_Machine_Learning_Methods
Machine_Learning_Frameworks_Scikit_Learn
Machine_Learning_Frameworks_Tensorflow
Machine_Learning_Frameworks_Keras
Machine_Learning_Frameworks_Pytorch
Machine_Learning_Frameworks_Fast.Ai
Machine_Learning_Frameworks_Mxnet
Machine_Learning_Frameworks_Xgboost
Machine_Learning_Frameworks_Lightgbm
Machine_Learning_Frameworks_Catboost
Machine_Learning_Frameworks_Prophet
Machine_Learning_Frameworks_H2o_3
Machine_Learning_Frameworks_Caret
Machine_Learning_Frameworks_Tidymodels
Machine_Learning_Frameworks_Jax
Machine_Learning_Frameworks_None
Machine_Learning_Frameworks_Other
Current_Yearly_Compensation
Data_Science_Courses_Coursera
Data_Science_Courses_Edx
Data_Science_Courses_Kaggle_Learn_Courses
Data_Science_Courses_Datacamp
Data_Science_Courses_Fast.Ai
Data_Science_Courses_Udacity
Data_Science_Courses_Udemy
Data_Science_Courses_Linkedin_Learning
Data_Science_Courses_Cloud_Certification_Programs
Data_Science_Courses_University_Courses
Data_Science_Courses_None
Data_Science_Courses_Other
Primary_Tool_Used_For_Data_Analysis
"""
# new column names
new_names = text.strip().splitlines()
# print(new_names)
len(new_names) 

df20.columns.value_counts()

# original column names
original_names = df20.columns.tolist()
# print(original_names)
len(original_names) 

# new dictionary for transcription
transcription = dict()

for i in range(len(original_names)):
    transcription[original_names[i]] = new_names[i]

df20 = df20.rename(columns=transcription)
df20.to_csv("df20_transcription.csv", index=False)
df20

,Age,Gender,Country,Education,Current_Role,Time_Writing_Code,Programming_Languages_Python,Programming_Languages_R,Programming_Languages_SQL,Programming_Languages_C,...,Data_Science_Courses_Datacamp,Data_Science_Courses_Fast.Ai,Data_Science_Courses_Udacity,Data_Science_Courses_Udemy,Data_Science_Courses_Linkedin_Learning,Data_Science_Courses_Cloud_Certification_Programs,Data_Science_Courses_University_Courses,Data_Science_Courses_None,Data_Science_Courses_Other,Primary_Tool_Used_For_Data_Analysis
0,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
1,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,NaN,...,DataCamp,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,"Business intelligence software (Salesforce, Ta..."
2,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,NaN,...,NaN,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
3,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,NaN,...,DataCamp,NaN,NaN,NaN,LinkedIn Learning,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
4,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,18-21,Man,Turkey,Some college/university study without earning ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20032,55-59,Woman,United Kingdom of Great Britain and Northern I...,Master’s degree,Currently not employed,20+ years,Python,NaN,NaN,NaN,...,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20033,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20034,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,Python,NaN,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20035,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,NaN,...,NaN,Fast.ai,Udacity,Udemy,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."

In [6]:
# for col in df20.columns:
#      print(col)

### Splitting columns that contain multiple tools or their versions

Split column Ide's_Vim/Emacs into two columns

In [7]:
col_index = df20.columns.get_loc("Ide's_Vim/Emacs")

# Split column
new_cols = df20["Ide's_Vim/Emacs"].str.split('/', expand=True)
new_cols.columns = ["Ide's_Vim", "Ide's_Emacs"]  

# Drop original column
df20.drop(columns="Ide's_Vim/Emacs", inplace=True)

# Insert new column to same position
for i, col_name in enumerate(new_cols.columns):
    df20.insert(col_index + i, col_name, new_cols[col_name])

df20.shape

(20036, 89)

Split column Notebook_Products_Paperspace/Gradient into two columns

In [8]:
col_index = df20.columns.get_loc("Notebook_Products_Paperspace/Gradient")

# Split column
new_cols = df20["Notebook_Products_Paperspace/Gradient"].str.split('/', expand=True)
new_cols.columns = ["Notebook_Products_Paperspace", "Notebook_Products_Gradient"] 

# Drop original column
df20.drop(columns="Notebook_Products_Paperspace/Gradient", inplace=True)

# Insert new column to same position
for i, col_name in enumerate(new_cols.columns):
    df20.insert(col_index + i, col_name, new_cols[col_name])

df20.shape

(20036, 90)

Split column Notebook_Products_Binder/Jupyterhub into two columns

In [9]:
col_index = df20.columns.get_loc("Notebook_Products_Binder/Jupyterhub")

# Split column
new_cols = df20["Notebook_Products_Binder/Jupyterhub"].str.split('/', expand=True)
new_cols.columns = ["Notebook_Products_Binder", "Notebook_Products_Jupyterhub"]  

# Drop original column
df20.drop(columns="Notebook_Products_Binder/Jupyterhub", inplace=True)

# Insert new column to same position
for i, col_name in enumerate(new_cols.columns):
    df20.insert(col_index + i, col_name, new_cols[col_name])

df20.shape

(20036, 91)

Split column Data_Visualization_Libraries_Plotly/Plotly_Express into two columns

In [10]:
col_index = df20.columns.get_loc("Data_Visualization_Libraries_Plotly/Plotly_Express")

# Split column
new_cols = df20["Data_Visualization_Libraries_Plotly/Plotly_Express"].str.split('/', expand=True)
new_cols.columns = ["Data_Visualization_Libraries_Plotly", "Data_Visualization_Libraries_Plotly_Express"] 

# Drop original column
df20.drop(columns="Data_Visualization_Libraries_Plotly/Plotly_Express", inplace=True)

# Insert new column to same position
for i, col_name in enumerate(new_cols.columns):
    df20.insert(col_index + i, col_name, new_cols[col_name])

df20.shape

(20036, 92)

Split column Data_Visualization_Libraries_Ggplot/Ggplot2 into two columns

In [11]:
col_index = df20.columns.get_loc("Data_Visualization_Libraries_Ggplot/Ggplot2")

# Split column
new_cols = df20["Data_Visualization_Libraries_Ggplot/Ggplot2"].str.split('/', expand=True)
new_cols.columns = ["Data_Visualization_Libraries_Ggplot", "Data_Visualization_Libraries_Ggplot2"] 

# Drop original column
df20.drop(columns="Data_Visualization_Libraries_Ggplot/Ggplot2", inplace=True)

# Insert new column to same position
for i, col_name in enumerate(new_cols.columns):
    df20.insert(col_index + i, col_name, new_cols[col_name])

df20.shape

(20036, 93)

In [12]:
col_index = df20.columns.get_loc("Data_Visualization_Libraries_Leaflet/Folium")

# Split column
new_cols = df20["Data_Visualization_Libraries_Leaflet/Folium"].str.split('/', expand=True)
new_cols.columns = ["Data_Visualization_Libraries_Leaflet", "Data_Visualization_Libraries_Folium"]

# Drop original column
df20.drop(columns="Data_Visualization_Libraries_Leaflet/Folium", inplace=True)

# Insert new column to same position
for i, col_name in enumerate(new_cols.columns):
    df20.insert(col_index + i, col_name, new_cols[col_name])

df20.shape

(20036, 94)

In [13]:
df20 = df20.rename(columns={"Notebook_Products_Google_Cloud_Ai_Platform_Notebooks": "Notebook_Products_Google_Cloud_Notebooks"})

df20 = df20.rename(columns={"Data_Science_Courses_Kaggle_Learn_Courses": "Data_Science_Courses_Kaggle_Courses"})

# for col in df20.columns:
#      print(col)

df20.to_csv("df20_final_headers.csv", index=False)

df20.shape

(20036, 94)